body {
    margin: 0;
    padding: 0;
}

.container div, button, img, canvas, #clickArea {
    position: absolute;
}

/*#vidHolder {
    position: absolute;
    top: -10px;
}*/

.container, #clickArea, .border {
    width: 850px;
    height: 250px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container{
    position: relative;
    overflow: hidden;
}

#clickArea {
    left: 0;    
    top: 0;
    opacity: 0;
    cursor: pointer;
    display: block;
}

.shadow{
    left: 0;
    top: 236px;
    width: 850px;
    height: 14px;
}

.video-container{
    width: 850px;
    height: 250px;
    left: 0;    
    top: 0;
    opacity: 1;
}

.ft-video {
    width: 874px;
    height: 250px;
    position: absolute;
    top: -11px;
    left: -75px;
}

.controls{
    left: 10px;
    top: 200px;
    visibility: hidden;
    cursor: pointer;
    z-index: 9;
}

.play-btn{
    left: 0;
    top: 0;
    opacity: 1;
}

.sound-btn{
    left: 42px;
    top: 0;
    opacity:1;
    cursor: pointer;
}

.copy-end{
    left: 0px;    
    top: 0px;
    opacity: 0;
}

.end-logo{
    left: 328.5px;
    top: 2px;
    opacity: 0;
}
.cta{
    left: 295px;    
    top: 204px;
    opacity: 0;
}

.watch {
    top: 210px;
    left: 580px;
    opacity: 0;
}



/*---animation---*/

.fade-in {
    -webkit-animation: fade-in 0.5s ease-in forwards;
            animation: fade-in 0.5s ease-in forwards;  
}

/*--- -webkit-keyframes ---*/

@-webkit-keyframes fade-in {
      0% { opacity: 0; }
    100% { opacity: 1; }
}

/*---keyframes---*/

@keyframes fade-in {
      0% { opacity: 0; }
    100% { opacity: 1; }
}